*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background: #000000;
	min-height: 100vh;
	-webkit-tap-highlight-color: transparent;
}

/* Styling logos */
.logo,
.logo-dark {
	user-select: none;
	pointer-events: visible;
	margin: 2rem;
	cursor: pointer;
}
.logo path,
.logo-dark path {
	transition: fill 0.5s ease-in-out;
}

/* Styling Light Logo */
.logo .textLight path {
	fill: #ffffff99;
	transition: fill 0.5s ease-in-out;
}
.logo .numberLight path {
	fill: #808017;
}
.logo:hover .numberLight path,
.logo:focus .numberLight path {
	fill: #e94b3c;
}
.logo:hover .textLight path,
.logo:focus .textLight path {
	fill: #ffffff;
}

/* Styling Dark Logo */
.logo-dark .textDark path {
	fill: #ffffff99;
	transition: fill 0.5s ease-in-out;
}
.logo-dark .numberDark path {
	fill: #808017;
}
.logo-dark:hover .numberDark path,
.logo-dark:focus .numberDark path {
	fill: #e94b3c;
}
.logo-dark:hover .textDark path,
.logo-dark:focus .textDark path {
	fill: #ffffff;
}
