*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	/* box-sizing: border-box; */
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* background: #000000; */
	min-height: 100vh;
	-webkit-tap-highlight-color: transparent;
}

/* Styling logos */
h3 {
	color: #e94b3c;
	margin: 0.3em auto;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
}
.logo,
.logo-dark {
	width: 250px;
	height: 250px;
	user-select: none;
	pointer-events: visible;
	margin: 1em auto;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #e94b3c;
}
.logo .replaced-svg,
.logo-dark .replaced-svg {
	height: 100%;
	width: 100%;
}
.logo {
	background: #ffffff99;
	transition: fill 5s ease-in-out;
}
.logo-dark {
	background: #2c2c2c;
	transition: fill 5s ease-in-out;
}
/* .replaced-svg path,
.replaced-svg path {
	fill: white;
} */
.logo:hover,
.logo:focus,
.logo-dark:hover,
.logo-dark:focus {
	box-shadow: 4px 8px 8px rgba(233, 75, 60, 0.5);
}

.logo #vector {
	stroke-dasharray: 520;
	stroke-dashoffset: 520;
	animation: draw 5s forwards infinite;
	-webkit-animation: draw 5s forwards infinite;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
		fill: #e94b3c;
	}
}
